.postContainer {
   max-width: 1280px;
   margin: 0 auto 64px;
   padding: 0 32px;
}

.postArticle {
   max-width: 720px;
   margin: 5rem auto 0;

   .postTitle {
      font-size: 46px;
      font-weight: 900;
      color: white;
   }

   time {
      display: block;
      font-size: 16px;
      color: var(--gray);
      margin-top: 24px;
   }

   .postContent {
      margin-top: 32px;
      line-height: 32px;
      font-size: 18px;
      color: white;

      p {
         & + p {
            margin-top: 22px;
         }
      }
   }
}