.postSection {
   height: 420px;
   background-color: var(--whiteish-blue);
   
   @media (max-width: 940px) {
      width: 100%;
      min-width: 100%;
      overflow-x: visible;
   }

   
   .postWrapper {
      margin: 0 auto;
      width: 52%;
      height: 355px;
      padding: 32px 0;

      @media (max-width: 940px) {
         aside {
            margin: 0 auto;
            & + aside {
               display: none;
            }
         }
      }

      .postHeader {
         width: 100%;

         display: flex;
         justify-content: space-between;
         align-items: center;

         h3 {
            color: var(--dark-blue);
            font-size: 22px;
            line-height: 60px;
         }

         a {
            display: block;
            color: var(--light-blue);
            font-size: 16px;
            line-height: 23.5px;

            &:hover {
               filter: brightness(1.1);
            }
         }
      }
   }

   .postContainer {
      width: 100%;

      display: flex;
      gap: 32px;      
   }
}