.headerNav {
   margin: 22px 0  22px 60px;
   list-style: none;

   display: flex;
   flex-direction: row;
   gap: 30px;

   li {
      font-size: 20px;
      line-height: 29px;
      font-weight: 500;
      transition: transform 0.2s;
   
      cursor: pointer;
   
      &:hover {
         transform: scale(1.1);
         color: var(--red);
      }
   }
}