.postItem {
   width: 418px;
   height: 295px;
   background-color: var(--white);
   border-radius: 8px;
   box-shadow: 3px 3px 4px rgb(228, 242, 244);
   padding: 24px 22px;
   cursor: pointer;
   transition: transform .3s;

   overflow-y: auto;

   &:hover {
      transform: scale(1.05)
   }
   
   strong {
      color: var(--dark-blue);
      font-size: 26px;
      line-height: 38px;
      display: inline-block;
      margin-bottom: 16px;
   }

   .postInfos {
      color: var(--dark-blue);
      display: flex;
      align-items: center;
      gap: 24px;
      margin-bottom: 12px;

      span {
         color: var(--white);
         font-size: 18px;
         font-weight: 900;
         background-color: #142850;
         padding: 0 16px;
         border-radius: 16px;
         margin-top: 2px;

         display: flex;
         align-items: center;
         justify-content: center;
      }
   }

   p {
      color: var(--dark-blue);
      font-size: 16px;
      line-height: 24px;
   }
}