.workSection {
   width: 100%;

   @media (max-width: 940px) {
      padding: 0 32px;
   }

   .workWrapper {
      margin: 0 auto;
      width: 856px;
      height: 766px;
      margin-top: 24px;
   
      span {
         color: var(--dark-blue);
         font-size: 22px;
         line-height: 60px;
         display: inline-block;
         margin-bottom: 6px;
      }
   }

   .workSeparator {
      margin: 0 auto;
      width: 856px;
      height: 2px;
      background-color: var(--gray-50);
      border-radius: 6px;
      margin-top: -60px;
      margin-bottom: 80px;
   }
}