.footerContainer {
   width: 100%;

   .footerList {
      margin: 0 auto;
      width: 856px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 35px;

      a {
         cursor: pointer;
         transition: transform .3s;

         &:hover {
           transform: scale(1.1);
         }
      }
   }

   span {
      display: block;
      margin: 8px auto;
      width: 856px;
      text-align: center;
   }
}